body {
  margin: 10%;
  
}
main {
  border: 1px solid red;
  width: 600px;
  height: 450px;
  display: flex;
  overflow:hidden;
}
section {
  background-color: rgba(0, 245, 255, 0.9976365546218487);

  box-sizing: border-box;

  border: 1px solid lightblue;
  
}
section:nth-child(3) {
  margin-left: 80px;
  
  align-self: center;
  width: 200px;
  height: 350px;
  
}
section:nth-child(1) {


  border-radius: 200px;
  margin-top: 175px;
  margin-left: -60px;
  width: 200px;
  height: 200px;
  opacity: 0.5;
}
section:nth-child(2) {
  margin-top: 15px;
  margin-left:-50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 0.8;
}
section:nth-child(5) {
  align-self: flex-end;
  margin: 0px -80px -60px 10px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  opacity: 0.7;
}
section:nth-child(4) {
 width: 100px;
 height: 100px;
 position: relative;
  left: 100px;
  border-radius: 100px;
  margin-top: -15px;
  opacity: 0.4;
}
#profilecontainer {
  background-color: white;
  display: flex;
  flex-direction: column;
}
item:first-child {
  width: 100%;
  height: 40%;
  background: rgb(9, 51, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 51, 121, 1) 0%,
    rgba(0, 245, 255, 0.9976365546218487) 100%
  );
}
#informationbox {
  display: block;
  width: 80%;
  height: 100%;
  margin: auto;
}
#fotobox{
  border: chartreuse 1px solid;
  margin-top: -25%;
  width: 90%;
  height: 40%;
  margin-left: 5%;
  background-color: white;
}
#accountsettings {
  border: darkgreen 1px solid;
  width: 100%;
  height: 50%;
  margin: 2% 2% 2% 0;

}
#privacysettings {
  border: darkkhaki 1px solid;
  width: 100%;
  height: 20%;
  margin: 2% 2% 2% 0;
}
#accountsettings {

  
}
.accountdetails {
  width: 80%%;
  height:20% ;
  margin:5%;


}
