body{
    padding: 15px;
    margin: 10px;
}

header {
    background-color: #A8B3B8;
    background-image: url('../images/flywheel.jpg');
    padding: 22px;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: inline-block;
    width: 15%;
    height: 8%;
    padding: 18px;
    margin: 20px;
    background: #FFFFFF55; /* Last 2 numbers is alpha (00 to FF) */
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.active{
    background: #FFFFFF;
    color: #000000;
}

h2 {
    color: #000000;
    text-transform: uppercase;
}

.right {
    background-color: #FFFFFF;
    display: inline-block;
    width: 67%;
    float: left;
    margin:10px;
}

a {
    background-color: #C9C9C9;
    color: #4C4C4C;
    text-align: center;
}

.left {
    display: inline-block;
    background-color: #418919;
    width: 30%;
    float: left;
}

img {
    display: inline-block;
    border: 2px solid #000000;
    margin: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50%;
}